@CHARSET "UTF-8";
body {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#525252)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #f0f0f0, #525252); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #f0f0f0, #525252); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #f0f0f0, #525252); /* IE10 */
	background-image:      -o-linear-gradient(top, #f0f0f0, #525252); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #f0f0f0, #525252);
	background-attachment: fixed !important;
}
.container{
	position:absolute;
	top:35px;
	left:0px;
	width:99%;
	height:auto;	
}
.contents {
	background:white;
	position:absolute;
	top:0px;
	width:auto;
	height:auto;
	left:275px;
	padding:15px;
	margin:5px;
	-moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
    border-radius: 10px !important;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
}
.shortBio {
	background:white;
	padding:5px;
	margin:5px;
	position:absolute;
	top:0px;
	left:0px;
	width:250px;
	text-align:left;
	-moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
    border-radius: 10px !important;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
}
.bioPic {
	width:250px;
	display:inline;
	-moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
}
td,th{
	vertical-align: top;
	text-align: left;
}
th {
	white-space:nowrap;
}
h3 {
	border-bottom:1px black solid;
}

.hr {
	border-bottom:1px black solid;
	width:100%;
	height:5px;
	display:block;
}
